default_shell "zsh"
default_layout "compact"

pane_frames true
mouse_mode false
copy_on_select false
scroll_buffer_size 20000
show_startup_tips false

theme "default"

keybinds {
  normal {
    bind "Alt h" { MoveFocus "Left"; }
    bind "Alt j" { MoveFocus "Down"; }
    bind "Alt k" { MoveFocus "Up"; }
    bind "Alt l" { MoveFocus "Right"; }

    bind "Alt H" { MovePane "Left"; }
    bind "Alt J" { MovePane "Down"; }
    bind "Alt K" { MovePane "Up"; }
    bind "Alt L" { MovePane "Right"; }

    bind "Alt =" { Resize "Increase"; }
    bind "Alt -" { Resize "Decrease"; }

    bind "Alt z" { ToggleFocusFullscreen; }
    bind "Alt x" { CloseFocus; }

    bind "Alt t" { NewTab; }
    bind "Alt q" { CloseTab; }
    bind "Alt n" { NewPane; }
  }
}
